In [6]:
import pymongo
from pymongo import MongoClient
import json

In [15]:
# Create a MongoClient to interact with MongoDB Service
#client = MongoClient()
DB_NAME = 'ucla-lacc-2018-7'
DB_HOST = 'ds141611.mlab.com'
DB_USER = "student"
DB_PASS = "lacc2018"
DB_PORT = 41611
Connection = MongoClient(DB_HOST, DB_PORT)
db = Connection[DB_NAME]
db.authenticate(DB_USER, DB_PASS)

True

In [3]:
# List all database names in the connected server
#Connection.list_database_names()

['admin', 'config', 'local', 'profile_database', 'test_database']

In [4]:
# Choose a database
#db = client.test_database

In [9]:
# List all collections in a database
db.collection_names()

['test_collection', 'system.indexes']

In [10]:
# Choose a collection
collection = db.test_collection

In [11]:
data = '{"Name" : "Sandeep", "City" : "Los Angeles", "id" : 20}'
j = json.loads(data)

# Insert Data
data_id = collection.insert_one(j).inserted_id

# Extract data
collection.find_one()

{'City': 'Los Angeles',
 'Name': 'Sandeep',
 '_id': ObjectId('5b4f87764f9cf70061b18358'),
 'id': 20}

In [65]:
client.drop_database('profile_database')
# Create a new database
db = client.profile_database



print(client.list_database_names())
#Create a new collection
collection = db.info_collection
collection.create_index([('Name', pymongo.ASCENDING)], unique=True)
data_id = collection.insert_one(j).inserted_id

print(client.list_database_names())

['admin', 'config', 'local', 'test_database']

In [67]:
print(client.list_database_names())
collection.find_one(data_id)
#data_id = collection.insert_one(j).inserted_id

['admin', 'config', 'local', 'profile_database', 'test_database']

{'_id': ObjectId('5b4d8584dd28d00ba6841bac'),
 'Name': 'Sandeep',
 'City': 'Los Angeles',
 'id': 20}